.small-percent-container {
   position: absolute;
   top: 198px;
   width: 46px;
   left: 77px
}

.percent-box {
   position: relative;
   padding: 16px 0;
   width: 46px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.percent-box .circle {
   position: relative;
   height: 46px;
   width: 46px;
   background: conic-gradient(from 0deg, var(--clr) 0%, var(--clr) 0% var(--i), #333 var(--i), #333 100%);
   border-radius: 50%;
}

.percent-box .circle.small {
   height: 30px;
   width: 30px;
}

.percent-box .circle.small span{
   font-size: 10px;
   top: 9px;
   width: 30px;
   left: 0;
}


.percent-box .circle::before {
   content: '';
   position: absolute;
   inset: 4px;
   background: #0f0f0f;
   border-radius: 50%;
}

.percent-box .circle.small::before {
   inset: 2px;
}

.percent-box span {
   position: absolute;
   text-align: center;
   font-size: .9rem;
   color: lightsteelblue;
   top: 14px;
   width: 46px;
}

.percent-box span i {
   font-size: .45rem;
   position: absolute;
   top: 4px;
}

.percent-box span small {
   font-size: .5rem;
}

.percent-box.ranked .circle span {
   width: 40px;
}